{% extends "layout.html" %}

{% block content %}

  <div id="inner" class="container">

    <div id="left" class="side">

      <h1 id="names">
        <span id="first" class="name">John</span>
        <br>
        <span id="last" class="name">DeSilvio</span>
      </h1>

      <ul id="links">
        <li>
          <a href="https://www.linkedin.com/in/john-desilvio-51850319" target="_blank">
            <p>Linkedin</p>
            <div class="bar"></div>
          </a>
        </li>
        <li>
          <a href="https://www.github.com/jdesilvio" target="_blank">
            <p>GitHub</p>
            <div class="bar"></div>
          </a>
        </li>
        <li>
          <a href="mailto:john.desilvio@yahoo.com">
            <p>Email</p>
            <div class="bar"></div>
          </a>
        </li>
      </ul>

    </div>

    <div id="right" class="side">
      <span id="title">Engineer at Bloomberg</span>
    </div>

  </div>

{% endblock %}

