{% extends "layout.html" %}

{% block content %}

  <div id="inner" class="container">

    <div id="left" class="side">

      <h1 id="names">
        <span id="first" class="name">John</span>
        <br>
        <span id="last" class="name">DeSilvio</span>
      </h1>

      <div id="sketch">
        <svg width="400px" height="400px" version="1.1" xmlns="http://www.w3.org/2000/svg">

          <rect x="0" y="0" width="400" height="400" fill="transparent" />
          <circle cx="200" cy="200" r="77"
                  stroke="rgb(0,80,240)" fill="transparent"
                  stroke-width=".5"/>

          <rect x="137" y="137" width="126" height="126"
                stroke="rgb(0,80,240)" fill="transparent"
                stroke-width=".5"/>

          <line x1="100" x2="300" y1="100" y2="300"
                stroke-dasharray="30, 15, 5, 15"
                stroke="rgb(102, 102, 102)" stroke-width=".1"/>

          <line x1="300" x2="100" y1="100" y2="300"
                stroke-dasharray="30, 15, 5, 15"
                stroke="rgb(102, 102, 102)" stroke-width=".1"/>

          <line x1="200" x2="200" y1="50" y2="350"
                stroke-dasharray="50, 20, 30, 10"
                stroke="rgb(178, 178, 178)" stroke-width=".2"/>

          <line x1="50" x2="350" y1="200" y2="200"
                stroke-dasharray="50, 10, 45, 10"
                stroke="rgb(178, 178, 178)" stroke-width=".2"/>

          <path d="M46,123 A10,10 0 0,0 354,123"
                stroke-dasharray="0, 48, 318"
                fill="none" stroke="rgb(178, 178, 178)" stroke-width=".25" />

          <path d="M46,277 A10,10 0 1,1 354,277"
                stroke-dasharray="0, 64, 300"
                fill="none" stroke="rgb(178, 178, 178)" stroke-width=".25" />

          <path d="M123,46 A10,10 0 1,1 123,354"
                stroke-dasharray="0, 64, 300"
                fill="none" stroke="rgb(178, 178, 178)" stroke-width=".25" />

          <path d="M277,46 A10,10 0 0,0 277,354"
                stroke-dasharray="0, 48, 318"
                fill="none" stroke="rgb(178, 178, 178)" stroke-width=".25" />

        </svg>
      </div>

      <ul id="links">
        <li>
          <a href="https://www.linkedin.com/in/john-desilvio-51850319" target="_blank">
            <p class="link-text">Linkedin</p>
            <div class="bar"></div>
            <div class="inner-bar"></div>
          </a>
        </li>
        <li>
          <a href="https://www.github.com/jdesilvio" target="_blank">
            <p class="link-text">GitHub</p>
            <div class="bar"></div>
            <div class="inner-bar"></div>
          </a>
        </li>
        <li>
          <a href="mailto:john.desilvio@yahoo.com">
            <p class="link-text">Email</p>
            <div class="bar"></div>
            <div class="inner-bar"></div>
          </a>
        </li>
      </ul>

    </div>

    <div id="right" class="side">
      <span id="title">Engineer at Bloomberg</span>
    </div>

  </div>

{% endblock %}

