* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family:
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #282828;
  background: rgb(255,250,240);
}

.container {
  height: 100%;
}

#inner {
  position: relative;
}

.side {
  position: relative;
  width: 50%;
  height: 100%;
}

#left {
  float: left;
  background: rgb(255,250,240);
}

#right {
  float: right;
  background:
    linear-gradient(to bottom, rgba(0,55,164, 0.75), rgba(0, 55, 164, 0.9)),
    url(pics/headshot1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sketch {
  position: absolute;
  display: block;
  width: 400px;
  height: 400px;
  left: auto;
  right: 34px;
  top: 0;
  bottom: 0;
  margin: auto;
}

#title {
  position: absolute;
  height: 24px;
  top: 0;
  left: 72px;
  bottom: 0;
  margin: auto;
  color: rgb(255,250,240);
}

#names {
  padding: 72px 0px 0px 72px;
}

#links {
  position: absolute;
  bottom: 72px;
  width: 100%;
  padding: 0 0 0 72px;
}

li {
  position: relative;
  display: inline-block;
  width: 128px;
  margin: 0 24px 0 0;
  height: 34px;
}

.bar {
  bottom: 0;
  height: 4px;
  width: 100%;
  background: rgb(240,160,0);
}

.inner-bar {
  bottom: 4px;
  height: 0px;
  width: 120px;
  margin: 0 4px 0 4px;
  background: rgb(255,250,240);
}

li:hover .bar {
  z-index: 1;
  height: 32px;
  background: rgb(240,160,0);
}

li:hover .inner-bar {
  z-index: 2;
    height: 24px;
    background: rgb(255,250,240);
}

.link-text {
  z-index: 3;
  padding: 0px;
}

li:hover .link-text {
  padding: 8px;
  -webkit-transition: all 0.64s cubic-bezier(.48, 0, .16, 1);
  -moz-transition: all 0.64s cubic-bezier(.48, 0, .16, 1);
  -ms-transition: all 0.64s cubic-bezier(.48, 0, .16, 1);
  -o-transition: all 0.64s cubic-bezier(.48, 0, .16, 1);
  transition: all 0.64s cubic-bezier(.48, 0, .16, 1);
}

.bar, .inner-bar, .link-text {
  position: absolute;
  -webkit-transition: all 0.64s cubic-bezier(.48, 0, .16, 1);
  -moz-transition: all 0.64s cubic-bezier(.48, 0, .16, 1);
  -ms-transition: all 0.64s cubic-bezier(.48, 0, .16, 1);
  -o-transition: all 0.64s cubic-bezier(.48, 0, .16, 1);
  transition: all 0.64s cubic-bezier(.48, 0, .16, 1);
}

#left > ul > li > a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
}

@media screen and (min-width: 1024px) {
  svg {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  #right {
    background: none;
    position: absolute;
    width: 100%;
    text-align: center;
    text-align: -webkit-center;
  }
  #left {
    width: 100%;
  }
  #title {
    right: 0;
    left: auto;
    padding: 0 72px;
    color: #282828;
  }
}

@media screen and (max-width: 768px) {
  #sketch {
    text-align: center;
    text-align: -webkit-center;
  }
  li {
    width: 88px;
  }
  .inner-bar {
    width: 80px;
  }
}

@media screen and (max-width: 480px) {
  li {
    display: grid;
    margin: 8px 24px 0 0;
    height: 24px;
  }
}

@media screen and (max-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape){
  #left {
    background: url(pics/headshot2.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #right, #sketch, #names, #links {
      display: none;
  }
}
