* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family:
    "gibsonregular", "gibsonsemibold",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #282828;
  background: #FFFAF0;
}

.container {
  height: 100%;
}

#inner {
  position: relative;
}

.side {
  position: relative;
  width: 50%;
  height: 100%;
}

#left {
  float: left;
  background: #FFFAF0;
}

#right {
  float: right;
  background:
    linear-gradient(to bottom, rgba(2,8,64,0.75), rgba(2,8,64,0.9)),
    url(pics/headshot1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 1168px) {
  #right {
    display: none;
  }
  #left {
    width: 100%;
  }
}

#title {
  position: absolute;
  height: 24px;
  top: 0;
  left: 72px;
  bottom: 0;
  margin: auto;
  color: #FFFAF0;
}

#names {
  padding: 72px 0px 0px 72px;
}

#links {
  position: absolute;
  bottom: 72px;
  width: 100%;
  padding: 0 0 0 72px;
}

li {
  position: relative;
  display: inline-block;
  width: 128px;
  margin: 0 24px 0 0;
  height: 34px;
}

@media screen and (max-width: 425px) {
  li {
    display: grid;
  }
}

.bar {
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 100%;
  background: rgb(201, 181,3);
  -webkit-transition: all 0.32s cubic-bezier(.48, 0, .16, 1);
  -moz-transition: all 0.32s cubic-bezier(.48, 0, .16, 1);
  -ms-transition: all 0.32s cubic-bezier(.48, 0, .16, 1);
  -o-transition: all 0.32s cubic-bezier(.48, 0, .16, 1);
  transition: all 0.32s cubic-bezier(.48, 0, .16, 1);
}

.bar:hover {
  z-index: 1;
  height: 24px;
  background: rgb(201, 181,3);
}

#left > ul > li > a > p {
  z-index: 2;
  position: absolute;
}

#left > ul > li > a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  font-family:
    "gibsonregular", "gibsonsemibold",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
}
