{% extends "layout.html" %}

{% block content %}

  <div id="main-container">

    <div id="left" class="side">

      <h1>
        <span id="first" class="name">John</span>
        <span id="last" class="name">DeSilvio</span>
      </h1>

      <ul class="links">

        <li>
          <a href="" target="">Linkedin</a>
        </li>

        <li>
          <a href="" target="">GitHub</a>
        </li>

        <li>
          <a href="" target="">Email</a>
        </li>
      </ul>

    </div>

    <div id="right" class="side">

    </div>


  </div>

{% endblock %}

